/*
 * These are styles of within the component.
 * The basic positioning and sizing is set in the main CSS file
 * in order to avoid flickering.
 */
header {
  background: linear-gradient(to bottom, var(--secondary-colour), var(--primary-colour));
  padding: 40px;
  text-align: center;
}

header a {
  color: black;
}

header a:visited {
  color: black;
}
