/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --primary-colour: linen;
  --secondary-colour: lightskyblue;
  --link-colour: blue;
  --reddit-colour: #EB5528;
  --youtube-colour: #EA3323;
  --envelope-colour: lightskyblue;
}

/* Styling */
html {
  font-family: sans-serif;
}

main {
  padding: 50px;
  background: var(--primary-colour);
}

a { text-decoration: none; }
a:visited { color: var(--link-colour); }

h1 { margin-bottom: 1ex; }
p { margin-bottom: 1ex; line-height: 1.4 }

.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.inline-list li {
  margin-right: 10px; /* Adjust spacing as needed */
}

.inline-list li:not(:last-child)::after {
  content: "|";
  margin-left: 10px; /* Adjust spacing as needed */
}
