/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Styling */
html {
  font-family: sans-serif;
}

main {
  padding: 50px;
  background: linen;
}

a { text-decoration: none; }
a:visited { color: blue; }

h1 { margin-bottom: 1ex; }
p { margin-bottom: 1ex; line-height: 1.4 }
