{:path "/" :title "Main page" :content
 [[:section#hero {:style "text-align: center; padding: 80px 20px; background-color: #ffffff;"}
   [:h1 "Guiding you to inner peace and clarity"]
   [:p {:style "margin-top: 20px;"} "Personalised spiritual guidance, rooted in practical wisdom and real-life experience."]]

  [:section#introduction {:style "text-align: center; padding: 60px 20px; background-color: #f3f4f6;"}
   [:h2 "Services"]
   [:p "I’m Jakub Stastny, a spiritual guide dedicated to helping others find balance and purpose in their lives. My approach is practical and grounded, designed to help you navigate your journey with confidence and peace."]
   [:p {:style "margin-top: 20px;"}
    [:a {:href :about :style "color: #007bff; text-decoration: underline;"} "Read my story"]]]

  [:div {:class "newsletter"} [:my-newsletter]]

  [:section#services {:style "text-align: center; padding: 50px 20px; background-color: #f8f9fa;"}
   [:h2 "Services"]
   [:div {:style "max-width: 800px; margin: 0 auto;"}
    [:p "Whether you’re seeking clarity through talk therapy, insight through astrology, or healing through energy work, I’m here to support you on your spiritual journey."]
    [:div {:style "margin-top: 20px;"}
     [:p {:style "margin-top: 20px;"}
      [:a {:href :services :style "padding: 10px 20px; margin-right: 10px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;"} "Explore services"]
      [:a {:href :contact :style "padding: 10px 20px; background-color: #28a745; color: #fff; text-decoration: none; border-radius: 5px;"} "Get in touch"]]]]]]}
