#contact-buttons {
  margin: 40px 0 35px;
}

#uncopyright, #uncopyright p {
  color: lightslategrey;
}

#uncopyright a:active {
  border-bottom: 2px dotted palevioletred;
}

#uncopyright a:focus {
  background: yellow;
}

#uncopyright a, #uncopyright a:visited {
  color: cornflowerblue;
}
