/* This CSS is both for /services as well as for its each children */

main {
  text-align: center;
}

section {
  padding: 50px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

section h2 {
  padding: 0;
}

section:nth-child(odd) {
  background-color: #f2f2f2;
}

section:nth-child(even) {
  background-color: #e6e6e6;
}

@media (min-width: 1200px) {
  .columns {
    display: flex;
    justify-content: space-between; /* This creates space between the two columns */
    align-items: center; /* Centers vertically */
  }

  .columns > div:first-of-type {
    width: 40%;
  }

  .columns > div:last-of-type {
    width: 55%;
  }

  .columns > div > img {
    border: 4px solid black;
    border-radius: 2px;
  }
}
