/* Mobile */
@media (max-width: 768px) {
  :host {
    background: midnightblue;
    color: red;
  }

  :host ul {
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0.6em 0;
    display: flex;
  }

  :host ul li {
    margin-right: 10px; /* Adjust spacing as needed. */
  }

  :host ul li:not(:last-child)::after {
    content: "|";
    color: black;
    margin-left: 10px; /* Adjust spacing as needed. */
  }

  /* Hide all the services on mobile (and only show the services main page link). */
  ul.large-screen {
    display: none;
  }
}

/* Large screen */
@media (min-width: 768px) {
  :host {
    background: var(--secondary-colour);
    color: white;
  }

  :host {
    background: black;
    color: white;
  }

  :host ul ul {
    padding-left: 1em;
  }

  a.mobile {
    pointer-events: none; /* Disables click events */
    cursor: default;      /* Changes the cursor to the default pointer */
    text-decoration: none; /* Optionally remove underline */
    color: inherit;       /* Optionally inherit the text color */
  }
}
